html,
body {
  padding: 0;
  margin: 0;
}

button:disabled {
  @apply cursor-not-allowed opacity-80;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error-msg{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .fa {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .fa-star-empty {
  color: gray;
}

.custom-checkbox .fa-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .fa-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .fa-star {
  opacity: 1;
}

.form-select-box .form-control.is-valid {
  background-position: right calc(1.375em + .1875rem) center;
}

.file-upload-add-button{
  height: 120px;
  width: 120px;
  background-color: cornsilk;
  border: 1px solid cornsilk;
  cursor: pointer;
  justify-content: center;
}

.object-cover{
  height: 120px;
  width: 120px;
  background-color:cornsilk;
}

.image-delete-button{
  top: 0px;
  right: 0px;
}